.mainContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.contentContainer{
    width: 80%;
}

@media(min-width:500px){
    .contentContainer{
        width: 30%;
    }
}