.button{
    cursor: pointer;
    padding: 10px;
    border:1px solid white;
    color: white;
    text-align: center;
    transition: all 0.1s;
    font-weight: 300;
}

.button:hover{
    background-color: white;
    color: black;
}

.small{
    display: table;
    height: 100%;
}

.small div{
    display: table-cell;
    vertical-align: middle;
}

.big{
    width: 100%;
    padding: 15px 10px;
}