.reminderContainer{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    border: 1px solid white;
    margin-bottom: 10px;
    padding: 10px;
}

.reminderTitle{
    font-weight: bold;
    font-size: 1.2rem;
}

.reminderButtons{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

.reminderButtons div{
    width: 32%;
}

@media(min-width:500px){
    .reminderContainer{
        flex-flow: row;
    }

    .reminderButtons{
        padding-top: unset;
    }

    .reminderButtons div{
        width: unset;
        margin-left: 10px;
    }
    
}