.reminderContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    border: 1px solid white;
    margin-bottom: 10px;
    padding: 10px;
}

.reminderTitle{
    font-weight: bold;
    font-size: 1.2rem;
}